$ const invoice = data.invoice[0];

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome | Page: Invoice</title>
    </head>
    <body>
      <invoice-single invoice=invoice/>
    </body>
</html>
