$ const lineItems = data.lineItems;

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome | Page: Line Items</title>
    </head>
    <body>
      <line-item-all lineItems=lineItems/>
    </body>
</html>
