$ const invoices = data.invoices;

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome | Page: Invoices</title>
    </head>
    <body>
      <invoice-all invoices=invoices/>
    </body>
</html>
