$ const lineItem = data.lineItem[0];

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome | Page: Line Item</title>
    </head>
    <body>
      <line-item-single lineItem=lineItem/>
    </body>
</html>
