<!doctype html>
html
    head
        title -- Invoice Timestamp
    body
        p -- Invoice ID: ${data.timestamp[0].invoice_id}
        p -- Created At: ${data.timestamp[0].created_at}
        p -- Updated At: ${data.timestamp[0].updated_at}
