<!doctype html>
html
    head
          title -- Customer
    body
        p -- Full Name: ${data.customer[0].first_name + " " + data.customer[0].last_name}
        p -- Email: ${data.customer[0].email}
        p -- Address: ${data.customer[0].address}
        p -- Phone Number: ${data.customer[0].phone_number}
