$ const lineItem = input.lineItem;

<div>
  <ul>
    <li>Invoice ID: ${lineItem.invoice_id}</li>
    <li>Product ID: ${lineItem.product_id}</li>
    <li>Quantity: ${lineItem.quantity}</li>
    <li>Discount: ${lineItem.discount}</li>
    <li>Total: ${lineItem.total}</li>
  </ul>
</div>
