$ const products = data.products;

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome | Page: Products</title>
    </head>
    <body>
      <product-all products=products/>
    </body>
</html>
