$ const timestamp = data.timestamp[0];

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome | Line Item Timestamp(s)</title>
    </head>
    <body>
      <timestamps-single timestamp=timestamp/>
    </body>
</html>
