$ const invoices = input.invoices;

<div>
  <ul for(invoice in invoices)>
    <li>Customer ID: ${invoice.customer_id}</li>
    <li>Line-Items Total: ${invoice.line_items_total}</li>
    <li>Additional Fees: ${invoice.additional_fees}</li>
    <li>Tax Rate: ${invoice.tax_rate}</li>
    <li>Sub-Total: ${invoice.sub_total}</li>
  </ul>
</div>
