$ const timestamp = input.timestamp

<div>
  <ul>
    <li>Product ID: ${timestamp.product_id}</li>
    <li>Created on: ${timestamp.created_at}</li>
    <li>Last Updated: ${timestamp.updated_at}</li>
  </ul>
</div>
