<!doctype html>
html
    head
        title -- Line Item Timestamp
    body
        p -- Line Item ID: ${data.timestamp[0].line_item_id}
        p -- Created At: ${data.timestamp[0].created_at}
        p -- Updated At: ${data.timestamp[0].updated_at}
