$ const timestamp = data.timestamp[0];

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Line Item Timestamps</title>
    </head>
    <body>
      <div>
        <ul>
          <li>Line Item ID: ${timestamp.line_item_id}</li>
          <li>Created on: ${timestamp.created_at}</li>
          <li>Last Updated: ${timestamp.updated_at}</li>
        </ul>
      </div>
    </body>
</html>
