<!doctype html>
html
    head
        title -- Line Item
    body
        p -- Invoice ID: ${data.lineItem[0].invoice_id}
        p -- Product ID: ${data.lineItem[0].product_id}
        p -- Quantity: ${data.lineItem[0].quantity}
        p -- Discount: ${data.lineItem[0].discount}
        p -- Total: ${data.lineItem[0].total}
