$ const customers = data.customers;

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome | Page: Customers</title>
    </head>
    <body>
      <customer-all customers=customers/>
    </body>
</html>
