$ const product = data.product[0];

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome | Page: Product</title>
    </head>
    <body>
      <product-single product=product/>
    </body>
</html>
