<!doctype html>
html
    head
        title -- Product
    body
        p -- Name: ${data.product[0].name}
        p -- Cost: ${data.product[0].cost}
        p -- Price: ${data.product[0].price}
        p -- Category: ${data.product[0].category}
