<!doctype html>
html
    head
        title -- Product Timestamp
    body
        p -- Product ID: ${data.timestamp[0].product_id}
        p -- Created At: ${data.timestamp[0].created_at}
        p -- Updated At: ${data.timestamp[0].updated_at}
